* {
  box-sizing: border-box;
  background-color:blanchedalmond;
}

.main {
  /* background-color: aqua; */
  display: flex;
  justify-content: flex-start;
  font-size: 20px;
  padding: 20px;
  /* padding-left: 0px; */
  /* margin-left: 0px; */
}

.content {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  width: 500px;
}

li {
  list-style-type: none;
  background-color: salmon;
  color: azure;
  border-radius: 12px;
  padding: 20px;
  margin: 7px;
  ;
}